.main_section {
	justify-content: center;
	position: relative;
	height: 100vh;
	background: url("../img/main_bg.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	.text_wrap {
		max-width: 920px;
		padding: 46px 70px;
		text-align: center;
		border: 1px solid $colorSecondary;

		.title {
			margin-bottom: 46px;
			line-height: 75px;
			font-size: 64px;
			font-weight: 700;
			text-transform: uppercase;
		}

		.subtitle {
			line-height: 28px;
			font-size: 18px;
		}
	}

	.slide_mouse {
		position: absolute;
		bottom: 50px;
		left: 50%;
		transform: translateX(-50%);
		
		img{
			animation: shake alternate 2s infinite ease-in-out;
		}

		&:hover {
			img {
				animation-duration: .5s;
			}
		}
	}
}