.section_offers {
	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.section_content {
			.text_wrap {
				margin-bottom: 60px;
			}

			.offers_gallery {
				display: flex;
				flex-wrap: wrap;
				gap: 1px;

				.offers_card {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					width: 33%;
					min-height: 180px;
					padding: 10px;
					background: $colorTretiary;
					cursor: pointer;
					transition: $transition;

					&:hover {
						background: $colorSecondary;

						.card_icon {
							background: $colorWhite;
						}
					}

					.card_icon {
						display: flex;
						align-items: center;
						justify-content: center;
						width: 70px;
						height: 70px;
						border-radius: 50%;
						background: $colorSecondary;
						margin-bottom: 24px;
						transition: $transition;

						img {
							height: 30px;
						}
					}

					.card_name {
						font-weight: 700;
						font-size: 18px;
						line-height: 22px;
						text-align: center;
						letter-spacing: 0.05em;
						text-transform: uppercase;
					}
				}
			}
		}
	}

	@media (max-width: $breakpoint992) {
		.container {
			flex-direction: column;
		}
	}

	@media (max-width: $breakpoint768) {

		.container {
			.section_content {
				.text_wrap {
					margin-bottom: 10px;
				}

				.offers_gallery {
					.offers_card {
						width: calc(50% - .5px);
						min-height: 100px;
						padding: 30px 10px;

						.card_icon {
							width: 40px;
							height: 40px;
							margin-bottom: 10px;

							img {
								height: 20px;
							}
						}
	
						.card_name {
							font-size: 14px;
							line-height: 18px;
						}
					}
				}
			}
		}
  }
}