section {
	position: relative;
	display: flex;
	align-items: center;
	height: 100vh;
	padding-top: $navHeight;

	&.dark {
		background: $colorPrimary;
	}

	&.light {
		background: $colorTretiary;
	}

	&.multi {
		&:after {
			content: '';
			position: absolute;
			width: 400px;
			height: 60%;
			top: calc(50% + $navHeight/2);
			left: 50%;
			transform: translate(-50%, -50%);
		}
	
		&.dark {
			&:after {
				background: $colorTretiary;
			}
		}
	
		&.light {
			&:after {
				background: $colorPrimary;
			}
		}
	}

	* {
		position: relative;
		z-index: 1;
	}

	.text_wrap {
		max-width: 450px;

		.section_title {
			position: relative;
			padding-top: 46px;
			line-height: 49px;
			font-size: 40px;
			font-weight: 700;
			letter-spacing: 0.05em;
			text-transform: uppercase;
	
			&:before {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 90px;
					height: 6px;
					background: $colorSecondary;
					margin-bottom: 40px;
			}
		}
	
		.section_subtitle {
			font-size: 18px;
			line-height: 28px;
		}
	}
}