.pagination {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 300px;

	.link {

		&:hover {
			filter: brightness(1.2);
		}

		img {
			position: relative;
			transition: $transition;
		}

		&__next {
			&:hover {
				img {
					transform: translateX(10px);
				}
			}
		}

		&__back {
			&:hover {
				img {
					transform: translateX(-10px);
				}
			}
		}

		*:first-child {
			margin-right: 30px;
		}
	}

	@media (max-width: $breakpoint992) {
    width: 100%;
		height: unset;
		flex-direction: row;
		padding: 50px 0;
  }

	@media (max-width: $breakpoint480) {
    width: 100%;
		height: unset;
		flex-direction: row;
		padding: 20px 0;
  }
}