// Container & Breakpoints
@use 'sass:math';
$containerWidth: 1200;
$containerPadding: 40;
$containerSidePadding: math.div($containerPadding, 2);
$breakpoint1450: 1449.98 + px;
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint480: 479.98 + px;

//Colors
$colorWhite: #fff;
$colorPrimary: #2F343A;
$colorSecondary: #C8A35F;
$colorTretiary: #393F47;

$textColorPrimary: $colorWhite;
$textColorSecondary: $colorPrimary;
$textColorTretiary: $colorSecondary;

// Burger Menu
$burgerBreakpoint: $breakpoint992;
$burgerColor: $colorWhite;
$burgerHoverColor: $colorSecondary;
$burgerActiveColor: $colorWhite;

// Fonts
$fontMain: sans-serif;
$fontSecondary: '';

// Transition
$transition: 0.2s;

// Nav
$navHeight: 106px;
